.dash {
    background-image: url("../../img/lockerroom.jpg"); 
    background-size: cover;
    color: white;
 }

 h2 {
     color: white;
 }

 .alert {
     color: white;
     background-color: red;
 }

img {
    height: 100px;
    width: 100px;
 }

.row {
    font-family: sans-serif;
} 